/* Normalize  */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

/* Float Clearfix  */
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

/* Screen Reader Only  */
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/*=========================================
Style Reference
=========================================*/

/* Colours

Charcoal #2c2d2c
Deep Green #116500
White #fff
Pine Two #213c28
Duck Egg Blue #d6f1e4
*/

/* Fonts

font-family: 'Barlow', sans-serif;
font-family: 'Offside', cursive; 
*/

/*=========================================
General Styles
=========================================*/

/* Style Stripping  */
body,p,h1,h2,h3,ul,span {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Setting Root Font Size  */
html {
     font-size: 62.5%;
}

/* Body styles to inherit  */
body {
     font-family: 'Barlow', sans-serif;
     font-size: 2rem;
     font-weight: 400;
     letter-spacing: .02rem;
     line-height: 3rem;
}

/* Main Wrap for Content  */
.wrapper {
     margin: 0 auto;
     max-width: 1300px;
     width: 90%;
}

/* Image Block Display/Native Responsiveness */
img {
     display: block;
     height: auto;
     width: 100%;
}

/* <a> Style Stripping  */
a {
     color: #fff;
     text-decoration: none;
}

/* Navigation Styles  */
nav {
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.9rem;
}

/* Logo/Read More/Submit Font  */
.logo, 
.read-more,
input[type="submit"] {
    font-family: 'Offside', cursive; 
    font-size: 2rem;
}

/* Read More/Submit Styles  */
.read-more,
input[type="submit"] {
    line-height: 2.9rem;
    text-align: center;
    text-transform: uppercase;
    
    border: none;
    padding: 7px 15px;
}

.read-more-dark {
    background: #116500;
    transition: all 1s;
}

/* Active States For Read More/Submit  */
.read-more:active,
input[type="submit"]:active {
    position: relative;
    top: 1px;
}

/* Read More Dark Hover/Focus States  */
.read-more-dark:hover,
.read-more-dark a:focus {
    background: #0c4700;
}

.read-more-light {
    background: #fff;
    color: #116500;
    transition: all 1s;
}

/* Read More Light Hover/Focus States  */
.read-more-light:hover,
.read-more-light a:focus {
    background: #6c7772;
    color: #fff;
}

/* Form Submit Button  */
input[type="submit"] {
    background: #2c2d2c;
    color: #fff;
    margin-left: -5px;
    transition: all 1s;
}

/* Form Submit Hover/Focus State  */
input[type="submit"]:hover,
input[type="submit"] a:hover {
    background: #171817;
}


/*=========================================
Header Styles
=========================================*/

/* Background Image Style */
header {
    height: 100vh;
    background: url(../assets/header-image.jpg) no-repeat fixed center/cover;
}

/* Logo Style  */
.logo {
    line-height: 2rem;
    padding-top: 20px;
    color: #fff;
    float: left;
}

.span-break {
    display: block;
}

/* Floats Navigation to the Right  */
.header-nav {
    float: right;
}

/* Hide the Hamburger, Style the Hamburger  */
.header-nav li:last-child {
    display: none;
    font-size: 3.5rem;
}

/* Floats Individual Links Beside Each Other */
.header-nav li {
    float: left;
    padding-top: 20px
}

/* Padding on Links  */
.header-nav a {
    padding: 20px 0 0 40px;
    transition: all .5s;
}

/* Link Hover/Focus States  */
.header-nav a:hover,
.header-nav a:focus {
    color: #2cf803;
}

/* Main Heading Styles  */
h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 6.88rem;
    font-weight: 400;

    letter-spacing: .08rem;
    line-height: 6.37rem;
    margin-top: 6rem;

    color: #fff;

    clear: both;
    float: left;
}

/* Skip Link for A11Y  */
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #d6f1e4;
  color: #2c2d2c;
  border: 2px solid #213c28
}

.skip-link:focus {
  left: 0;
}

/* Float Socials Right  */
.socials {
    margin: 6rem 5rem 0 0;
    float: right;
}

.socials i {
    transition: all .3s;
}

/* Social Media Hover/Focus States  */
.socials i:hover,
.socials a:focus {
    transform: scale(1.25, 1.25);
    color: #2cf803;
}


/*=========================================
Main Styles
=========================================*/

/*===============
Gallery Section
===============*/

main {
    background: #d6f1e4;
}

.gallery {
    margin-bottom: 75px;
}

h2 {

    font-size: 4.2rem;
    color: #116500;
    font-family: 'Offside', cursive; 
}

.gallery h2 {
    text-align: center;
    padding: 75px 0;
}

/* Tried setting the li with overflow: hidden, but it knocked everythingout of float */
/* Image display and Hover Transition  */
.gallery img {
    width: calc((100% / 3) - 40px);
    float: left;
    transition: all .5s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.center-img {
    margin: 0px 50px;
}

/*===============
About Section
===============*/

/* Spacing Between Sections  */
.about {
    margin-bottom: 75px;
}

/* Small Image Floated Left  */
.about img {
    width: 20%;
    margin-right: 50px;
    float: left;
}

/* Styling for Multiple Headings  */
.paragraph-headings {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px
}

/*===============
Blog Section
===============*/

.blog {
    background: #213c28;
}

/* Set Widths for Both Images  */
.blog img {
    width: 50%;
}

/* Top Image Floated Right  */
.img-1 {
    float: right;
}

.text-box {
    width: 50%;
    height: 100%;
    float:left;
}

/* Made Empty Div in Attempt To Have More Responsive Approach Than Padding. 
Empty Div Did Not Accept % Height. Might Have just Made a Long Form Padding with This */
.floater {
    height: 20rem;
    width: 100%;
    float: left;
    margin-bottom: -5rem;
}

/* Blog Content Specific Wrapper to Center Horizontally  */
.blog-content {
    width: 75%;
    margin: 0 auto;
}

.blog h2 {
    color: #fff;
}

.blog p {
    color: #fff;
}

/* Lower Image Floated Left  */
.img-2 {
    float: left;
}

/*===============
Icons Section
===============*/

/* Container with Icon/Span Floated Left  */
.icons {
    width: calc(100% / 3);
    font-family: 'Offside', cursive; 
    float: left;
    text-align: center;
    padding: 75px;
}

/* Font Awesome Icon Styles  */
.icons i {
    font-size: 4rem;
    color: #2c2d2c;
    transition: all .5s;
}

/* Hover/Focus states on Icons  */
.icons i:hover {
    transform: scale(1.25, 1.25);
}

.icons a:focus {
    border: 2px solid #116500;
}

.icons span {
    display: block;
    color: #116500;
}

/*=========================================
Footer Styles
=========================================*/

footer {
    background: #213c28;
}

/* Sets Padding around Footer Content  */
.footer-content-container{
    padding: 70px 0;
}

footer h2, span{
    color: #fff;
}

/* Form Layout  */
form {
    width: 55%;
    float: left;
}

footer h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.input {
    display: block;
}

input[type="email"] {
    width: 60%;
    padding: 8px;
}

/* Contact Info Layout  */
.contact-info {
    width: 25%;
    float: left;
}

/* Footer Navigation Layout  */
.footer-nav {
    width: 20%;
    float: left;
}
.footer-nav li {
    transition: all .2s;
}

/* Hover/Focus States on Footer Nav  */
.footer-nav li:hover {
    transform: translateX(5px);
}

.footer-nav li a:focus {
    color: #116500;
}

.footer-nav a {
    font-weight: 400;
}

/* Created @ Juno Footer  */
.juno-footer {
    background: #2c2d2c;
    text-align: center;
    color: #fff;
    padding: 5px 0;
}

/*=========================================
Media Queries
=========================================*/

@media (max-width: 1212px) {

    .floater {
        height: 10rem;
    }

    .blog h2 {
        font-size: 3.5rem;
    }

    .blog p {
        font-size: 1.6rem;
    }
}

@media (max-width: 955px) {

    header {
        background: url(../assets/header-image.jpg) no-repeat scroll left/cover;
        height: 50vh;
    }

    h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        width: 350px;
    }
    

    .blog-content {
        padding-bottom: 30px;
    }
    
    .blog img {
        width: 100%; 
        float: none;
    }

    .text-box {
        width: 100%;
        height: 100%;
        float: none;
    }

    .blog h2 {
        text-align: center;
    }

    .read-more {
        display: block;
        width: 150px;
        margin: 0 auto;
    }
}

@media (max-width: 769px) {

      header {
        background-position-x: -85px;
        height: 50vh;
    }

    h1 {
        width: 300px;
        line-height: 4.5rem;
    }

    .socials a {
        color: #116500;
    }

    .gallery img {
        width: calc(50% - 20px);
    }

    .center-img {
        margin: 0 0 0 40px;
    }

    .gallery-large img {
        width: 100%;
        padding-top: 50px;
        float: none;
    }

    .gallery img:hover {
        transform: none;
    }

    .about img {
        display: none;
    }

    .read-more-dark {
        padding: 15px 15px;
    }

    form {
        width: 100%;
        float: none;
        text-align: center;
    }

    form h2 {
        text-align: center;
    }

    form span {
        display: block;
        margin-bottom: 10px;
    }

    input[type="email"] {
        width: 100%;
        padding: 8px;
    }

    .input input[type="submit"] {
        display: block;
        margin: 10px auto;
    }

    .contact-info {
        width: 50%;
    }

    .footer-nav {
        float: right;
        text-align: right;
    }

}

@media (max-width: 565px) {

    header {
        background-position: top left;
        height: 35vh;
    }

    /* Hides All List Items Except Last  */
    .header-nav li:not(:last-child) {
        display: none;
    }

    .header-nav li:last-child {
        display: inline;
    }

    .socials {
        display: none;
    }

    h1 {
        font-size: 3.5rem;
        margin-top: 30px;
        width: 210px
    }

    .icons {
    width: 100%;
    float: none;
    padding: 20px;
    }

}

@media (max-width: 420px) {

    .wrapper {
        width: 95%;
    }

    header {
        background-position-x: -140px;
    }

    .center-img {
        margin: 0 0 0 30px;
    }

    .blog-content {
        width: 85%;
    }
    
    h2,
    .blog h2 {
        font-size: 3rem
    }
}



/* Notes/ToDo  */

/* 
Header nav goes into hamburger, Also see if you can add socials in there
Bottom Nav Stays the Same 
*/

/* .blog-box {
    
    
}

.blog-wrap {
    width: 50%;
    height: 50%;
    float: left;
}

.height-wrap {
    clear: both;
    margin: 0 auto;
    width: 60%;
} */