html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/*=========================================
Style Reference
=========================================*/

/* Colours

Charcoal #2c2d2c
Deep Green #116500
White #fff
Pine Two #213c28
Duck Egg Blue #d6f1e4
*/

/* Fonts

font-family: 'Barlow', sans-serif;
font-family: 'Offside', cursive; 
*/

/*=========================================
General Styles
=========================================*/

/* Style Stripping  */
body,p,h1,h2,h3,ul,span {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Setting Root Font Size  */
html {
     font-size: 62.5%;
}

/* Body styles to inherit  */
body {
     font-family: 'Barlow', sans-serif;
     font-size: 2rem;
     font-weight: 400;
     letter-spacing: .02rem;
     line-height: 3rem;
}

/* Main Wrap for Content  */
.wrapper {
     margin: 0 auto;
     max-width: 1400px;
     width: 90%;
}

/* Image Block Display/Native Responsiveness */
img {
     display: block;
     height: auto;
     width: 100%;
}

/* <a> Style Stripping  */
a {
     color: #fff;
     text-decoration: none;
}

/* Navigation Styles  */
nav {
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.9rem;
}

/* Logo/Read More/Submit Font  */
.logo, 
.read-more,
input[type="submit"] {
    font-family: 'Offside', cursive; 
    font-size: 2rem;
}

/* Read More/Submit Styles  */
.read-more,
input[type="submit"] {
    line-height: 2.9rem;
    text-align: center;
    text-transform: uppercase;
    
    border: none;
    padding: 7px 15px;
}

.read-more-dark {
    background: #116500;
    transition: all 1s;
}

/* Active States For Read More/Submit  */
.read-more:active,
input[type="submit"]:active {
    position: relative;
    top: 1px;
}

/* Read More Dark Hover/Focus States  */
.read-more-dark:hover,
.read-more-dark:focus {
    background: #0c4700;
}

.read-more-light {
    background: #fff;
    color: #116500;
    transition: all 1s;
}

/* Read More Light Hover/Focus States  */
.read-more-light:hover,
.read-more-light:focus {
    background: #d6f1e4;
}

/* Form Submit Button  */
input[type="submit"] {
    background: #2c2d2c;
    color: #fff;
    transition: all 1s;
}

/* Form Submit Hover/Focus State  */
input[type="submit"]:hover {
    background: #171817;
}


/*=========================================
Header Styles
=========================================*/

/* Background Image Style */
header {
    height: 100vh;
    background: url(../assets/header-image.jpg) no-repeat fixed center/cover;
}

/* Logo Style  */
.logo {
    line-height: 2rem;
    padding-top: 20px;
    color: #fff;
    float: left;
}

.span-break {
    display: block;
}

/* Floats Navigation to the Right  */
.header-nav {
    float: right;
}

/* Floats Individual Links Beside Each Other */
.header-nav li {
    float: left;
    padding-top: 20px
}

/* Padding on Links  */
.header-nav a {
    padding: 20px 0 0 40px;
    transition: all .5s;
}

/* Link Hover/Focus States  */
.header-nav a:hover,
.header-nav a:focus {
    color: #b0f5d3;
}

/* Main Heading Styles  */
h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 6.88rem;
    font-weight: 400;

    letter-spacing: .08rem;
    line-height: 6.37rem;
    margin-top: 6rem;

    color: #fff;

    clear: both;
    float: left;
}

/* Float Socials Right  */
.socials {
    margin: 6rem 5rem 0 0;
    float: right;
}

.socials i {
    transition: all .3s;
}

/* Social Media Hover/Focus States  */
.socials i:hover,
.socials i:focus {
    transform: scale(1.25, 1.25);
    color: #2cf803;
}

/*=========================================
Main Styles
=========================================*/

/*===============
Gallery Section
===============*/

main {
    background: #d6f1e4;
}

.gallery {
    margin-bottom: 75px;
}

h2 {

    font-size: 4.2rem;
    color: #116500;
    font-family: 'Offside', cursive; 
}

.gallery h2 {
    text-align: center;
    padding: 75px 0;
}

.gallery img {
    width: calc((100% / 3) - 40px);
    float: left;
}

.center-img {
    margin: 0px 50px;
}

/*===============
About Section
===============*/

.about {
    margin-bottom: 75px;
}

.about img {
    width: 20%;
    margin-right: 50px;
    float: left;
}

.paragraph-headings {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px
}

.about button {
    background: #116500;
    color: white;
}

/*===============
Blog Section
===============*/

.blog {
    background: #213c28;
}



.text-box {
    width: 50%;
    height: 100%;
    float:left;
    
}
/* This needs to be adjusted at like 1200px Also just fix it and make it padding maaan*/
.floater {
    height: 20rem;
    top: 100%;
    width: 100%;
    float: left;
    margin-bottom: -5rem;
   
}

.blog-content {
    width: 75%;
    margin: 0 auto;
}

.blog img {
    width: 50%;
    float: left;
}

.blog h2 {
    color: #fff;
}

.blog p {
    color: #fff;
}

/*===============
Icons Section
===============*/

.icons {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    padding: 75px;
}

.icons i {
    font-size: 4rem;
    color: #2c2d2c;
    transition: all .5s;
}

.icons i:hover,
.icons i:focus {
    transform: scale(1.25, 1.25);
}

.icons span {
    display: block;
    color: #116500;
}

/*=========================================
Footer Styles
=========================================*/

footer {
    background: #213c28;
}

.footer-content-container{
    padding: 70px 0;
}

footer h2, span{
    color: #fff;
}

form {
    width: 55%;
    float: left;
}

footer h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.input {
    display: block;
}

input[type="email"] {
    width: 60%;
    padding: 7px;
}


.contact-info {
    width: 25%;
    float: left;
}

.footer-nav {
    width: 20%;
    float: left;
}

.footer-nav a {
    font-weight: 400;
}

.juno-footer {
    background: #2c2d2c;
    text-align: center;
    color: #fff;
    padding: 5px 0;
}


/*=========================================
Media Queries
=========================================*/

/* Notes/ToDo  */

/* 
Header nav goes into hamburger, Also see if you can add socials in there
Bottom Nav Stays the Same 
*/

/* .blog-box {
    
    
}

.blog-wrap {
    width: 50%;
    height: 50%;
    float: left;
}

.height-wrap {
    clear: both;
    margin: 0 auto;
    width: 60%;
} */